doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
    // Set the ROOM_ID variable to the roomId that is passed in by server.js
    script.
      const ROOM_ID = "#{roomId}"
    // CDN in the peerJS and socket.io libraries
    script(defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js")
    script(defer src="/socket.io/socket.io.js")
    // Load in script.js, our client-side script
    script(defer src="/javascripts/script.js")
    style.
      #video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-auto-rows: 300px;
      }
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
        .muted {
          background-color: red;
          color: white;
      }

      .camera-off {
          background-color: gray;
      }

      .sharing {
          background-color: green;
          color: white;
      }
  body
    div#video-grid

    button#muteButton(onclick="toggleMute()") Mute
    button#cameraButton(onclick="toggleCamera()") Turn Off Camera
    button#screenShareButton(onclick="toggleScreenShare()") Share Screen
    button#endCallButton(onclick="endCall()") End Call
