body {
  padding: 20px 50px;
}

.custom-cursor {
  cursor: pointer;
}

#userMenu {
  left: 70%;
  margin-top: 0.5rem;
  transform: translateX(0.5rem);
  width: 12rem;
}

.role-button.active {
  background-color: #3560b5;
  color: white;
}

.role-button:hover {
  background-color: #4343a0;
}

#video-grid video {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
  border-radius: 5px;
  pointer-events: auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.control-button {
  background-color: gray;
  border: none;
  color: white;
  width: 50px;
  height: 50px;
  padding: 12px 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-button:hover {
  background-color: gray;
}

.control-button.danger {
  background-color: red;
}

.control-button i {
  color: white;
  font-size: 15px;
}

.control-button.muted {
  background-color: red;
}

.control-button.camera-off {
  background-color: red;
}

.control-button.sharing {
  background-color: green;
}
